#box{
    position: absolute;
    height:60px;
    width:60px;
    top:400px;
    left:70px;
}
body{
    margin: 7px;
}
#tank{
    background-color: aqua;
    width:500px;
    height:500px;
    border:3px solid black;
}
#plastic_1{
    position: absolute;
    top: 0px;
    left:70px;
}
#plastic_2{
    position: absolute;
    top: 0px;
    left:10px;
}
#plastic_3{
    position: absolute;
    top: 0px;
    left:220px;
}
#plastic_4{
    position: absolute;
    top: 0px;
    left:340px;
}
#plastic_5{
    position: absolute;
    top: 0px;
    left:430px;
}
