/* the box is just the fish. I have this so that the fish
can change costumes*/
#box{
    position: absolute;
    height:60px;
    width:60px;
    top:400px;
    left:70px;
}
/* adding some custom margins*/
body{
    margin: 7px;
    font-family: 'VT323', monospace;
}
/*the area where the game is*/
#tank{
    background-color:rgba(124, 232, 246, 0.5);
    background-image: url("images/sea.png");
    width:500px;
    height:500px;
    border:3px solid black;
}
#panel{
    background-color:rgb(87, 86, 86);
    width:80%;
    margin: 5% 10% 0% 10%;
    padding: 3px;
    border:1px inset black;
    height:40%;
}
#sticker{
    background-color:yellow;
    width:50%;
    margin:1% 25% 0% 25%;
    color:blue;
    border-radius:15px;
    border: 3px solid black;
}
#console{
    background-color:gray;
    position:absolute;
    width:500px;
    border:3px solid black;
    text-align:center;
    height:400px;
}
button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(214, 255, 209);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
button:active {
    background-color: rgb(214, 255, 209);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

/* plastic styles */
#plastic_1{
    position: absolute;
    top: 0px;
    left:70px;
}
#plastic_2{
    position: absolute;
    top: 0px;
    left:10px;
}
#plastic_3{
    position: absolute;
    top: 0px;
    left:220px;
}
#plastic_4{
    position: absolute;
    top: 0px;
    left:340px;
}
#plastic_5{
    position: absolute;
    top: 0px;
    left:430px;
}
