#box{
    position: absolute;
    height:60px;
    width:60px;
    top:400px;
    left:60px;
}
#line{
    position: absolute;
    top:550px;
}
body{
    margin: 10px;
}
#tank{
    background-color: aqua;
    width:500px;
    height:500px;
    border:3px solid black;
}